<template>
    <require from="components/helper/a"></require>
    <div class.bind="settings.styles.wrapper">
        <table class.bind="style" id="table-${__uuid}" class="uk-table">
            <thead class.bind="styles.thead">
                <tr class.bind="styles.th">
                    <th if.bind="settings.isSelectable" class="uk-table-shrink">
                        <input class="uk-checkbox" type="checkbox" change.trigger="selectAllVisible()">
                    </th>
                    <th repeat.for="item of tableColumns" class.bind="settings.styles.headers[item]" innerhtml.bind="tableHead[$index]"></th>
                    <th if.bind="settings.isActionable || settings.actions.length" class="uk-table-shrink uk-text-center@s uk-text-middle am-table-actions" class="uk-table-shrink">
                        Options
                    </th>
                </tr>
            </thead>
            <tbody if.bind="tableModels.length" class.bind="styles.tbody">
                <tr repeat.for="model of tableModels" class.bind="styles.td">
                    <td if.bind="settings.isSelectable" class="uk-text-middle">
                        <input model.bind="model" checked.bind="$parent.selection" change.trigger="publishSelection()" class="uk-checkbox" type="checkbox">
                    </td>
                    <slot>
                        <td repeat.for="item of tableColumns" innerhtml.bind="model[item + 'Renderer'] ? model[item + 'Renderer']() : model[item]"></td>
                    </slot>
                    <td if.bind="settings.isActionable || settings.actions.length" class="uk-table-shrink uk-text-center@s uk-text-middle am-table-actions">
                        <am-a repeat.for="action of settings.actions" click.trigger="publishEvent(action.event)" settings.bind="action">
                            <i if.bind="action.faIcon" class.bind="action.faIcon"></i>
                        </am-a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>
