<template>
    <require from="./nav.less"></require>
    <ul if.bind="filteredRoutes.length" class="nav" class.bind="style">
        <li repeat.for="route of filteredRoutes" class.bind="cssClassesNavItem(route)" class="nav-item">
            <a if.bind="!route.routes.length" click.trigger="router.navigateToRoute(route.name, route.params || {})" href="#" class="nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <i if.bind="route.icon" class="fa ${route.icon}"></i>
              <span innerhtml.bind="route.title"></span>
            </a>
            <a if.bind="route.routes.length" href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbar-dropdown-${$index}-${__uuid}" role="button" aria-haspopup="true" aria-expanded="false">
              <i if.bind="route.icon" class="fa ${route.icon}"></i>
              <span innerhtml.bind="route.title"></span>
            </a>
            <div if.bind="route.routes && route.routes.length" class="dropdown-menu" aria-labelledby="navbar-dropdown-${$index}-${__uuid}">
              <a repeat.for="subroute of findRoutes(route.routes || [])" class.bind="cssClassesDropdownItem(subroute)" click.trigger="router.navigateToRoute(subroute.name, subroute.params || {})">
                <i if.bind="subroute.icon" class="fa ${route.icon}"></i>
                <span innerhtml.bind="subroute.title"></span>
              </a>
            </div>
            <!-- <ul if.bind="route.routes && route.routes.length" class.bind="isNavbarNav ? 'dropdown-menu' : 'nav'">
              <li repeat.for="subroute of findRoutes(route.routes || [])" class.bind="subroute.active ? 'active': ''">
                <a if.bind="!isNavbarNav" click.trigger="router.navigateToRoute(subroute.name, subroute.params || {})" href="#">
                  ${subroute.title}
                  <span if.bind="subroute.routes && subroute.routes.length" class="caret"></span>
                </a>
                <a if.bind="isNavbarNav" click.trigger="router.navigateToRoute(subroute.name, subroute.params || {})" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  ${subroute.title}
                  <span if.bind="subroute.routes && subroute.routes.length" class="caret"></span>
                </a>
                <ul if.bind="subroute.routes && subroute.routes.length" class.bind="isNavbarNav ? 'dropdown-menu' : 'nav'">
                  <li repeat.for="subsubroute of findRoutes(subroute.routes || [])">
                    <a href="#" click.trigger="router.navigateToRoute(subsubroute.name, subsubroute.params || {})">${subsubroute.title}</a>
                  </li>
                </ul>
              </li>
            </ul> -->
        </li>
    </ul>
</template>
