<template>
    <div class="container">
        <a href="" data-target="nav-mobile-${__uuid}" class="top-nav sidenav-trigger"><i class="fa fa-bars"></i></a>
    </div>

    <ul id="nav-mobile-${__uuid}" class="sidenav">
        <li repeat.for="route of routes"><a click.trigger="router.navigateToRoute(route.name, route.params || {})" href="">
            <i if.bind="route.icon" class="fa" class.bind="route.icon"></i>
            <span innerhtml.bind="route.title"></span>
            <i if.bind="false" class="fa fa-angle-down"></i>
        </a></li>
    </ul>
</template>
