<template>
    <require from="../demo.less"></require>

    <div class="uk-container">
        <require from="../../../components/page/title"></require>
        <am-title><h2>Breadcrumb</h2></am-title>
    </div>

    <div class="uk-container">

        <p class="uk-text-lead">Create navigation anchors.</p>

        <h2 id="usage" class="uk-h3">
            <a href="#usage">Usage</a>
        </h2>

        <pre><code class="html">&lt;am-breadcrumb settings.bind="settings"&gt;&lt;/am-breadcrumb&gt;</code></pre>

        <p>or</p>

        <pre><code class="html">&lt;compose view-model="components/page/breadcrumb" model.bind="{ settings }"&gt;&lt;/compose&gt;</code></pre>

        <h2 id="example" class="uk-h3">
            <a href="#example">Example</a>
        </h2>

        <div class="am-code-example">
            <ul uk-tab="" class="uk-tab">
                <li aria-expanded="true" class="uk-active">
                    <a href="#">Preview</a>
                </li>
                <li aria-expanded="false" class="">
                    <a href="#">Markup</a>
                </li>
            </ul>
            <ul class="uk-switcher uk-margin">
                <li>
                    <require from="components/page/breadcrumb"></require>
                    <am-breadcrumb></am-breadcrumb>
                </li>
                <li>
                    <pre><code class="html">&lt;require from="components/page/breadcrumb">&lt;/require>
&lt;am-breadcrumb>&lt;/am-breadcrumb></code></pre>
                </li>
            </ul>
        </div>

        <p>or</p>

        <div class="am-code-example">
            <ul uk-tab="" class="uk-tab">
                <li aria-expanded="true" class="uk-active">
                    <a href="#">Preview</a>
                </li>
                <li aria-expanded="false" class="">
                    <a href="#">Markup</a>
                </li>
            </ul>
            <ul class="uk-switcher uk-margin">
                <li>
                    <compose containerless view-model="components/page/breadcrumb"></compose>
                </li>
                <li>
                    <pre><code class="html">&lt;compose containerless view-model="components/page/breadcrumb">&lt;/compose></code></pre>
                </li>
            </ul>
        </div>

        <!-- Component Bindables -->

        <h2 id="bindablles" class="uk-h3">
            <a href="#bindablles">Component Bindables</a>
        </h2>

        <compose containerless view="components/helper/table-dcb.html" view-model="components/helper/table" model.bind="cb"></compose>
    </div>

</template>
