@import "./_variables.less";
@import "./_mixins.less";

/*1********************************************************************************
* Colors
*1*******************************************************************************/

.color--50 { background: @color--50; }
.color-100 { background: @color-100; }
.color-200 { background: @color-200; }
.color-300 { background: @color-300; }
.color-400 { background: @color-400; }
.color-500 { background: @color-500; }
.color-600 { background: @color-600; }
.color-700 { background: @color-700; }
.color-800 { background: @color-800; }
.color-900 { background: @color-900; }

//
// application
//

application {
    height: 100vh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

@media (min-width: @screen-md-min) {
    application {
        flex-direction: row;
    }
}

//
// content
//

content {
    flex: 1 1 100%;
}

main-app {
    display: block;
}
