/*********************************************************
 * Table of contents
 *
 * Logo
 ********************************************************/


//
// Logo
//

@logo-padding-x: 1rem;
@logo-padding-y: 0;

@logo-title-font-size: 2rem;
