@import '../../../_variables.less';
@import '../../../_mixins.less';

.messages {
    margin: 0;
    padding: @messages-padding-x @messages-padding-y;

    & .message {
        padding-left: 2rem; // @TODO: THis needs parametrized

        &:before {
            bottom: 0;
            content: '\f129';
            display: inline-block;
            font-family: FontAwesome;
            padding: 0 @alert-padding-y 0 0;
        }

        &--debug {
            &:before {
                content: '\f06a';
            }
        }

        &--error {
            &:before {
                content: '\f071';
            }
        }

        &--info {
            &:before {
                content: '\f05a';
            }
        }

        &--warn {
            &:before {
                content: '\f071';
            }
        }

        &--success {
            &:before {
                content: '\f00c';
            }
        }
    }
}
