<template>
    <require from="./card.less"></require>

    <div class="card card--profile">
        <div class="card">
            <div class="card-img-bullet-top">
                <img class="card-img" src="http://via.placeholder.com/350x350" alt="Card image cap">
                <img class="card-img--bullet" src="http://via.placeholder.com/128x128/999/CCC" alt="Card image cap">
            </div>
            <div class="card-body">
                <h5 class="card-title">${model.name}</h5>
                <p class="card-text"><strong>Email:</strong> <a href="mailto:${model.email}">${model.email}</a></p>
                <p class="card-text"><strong>Phone:</strong> ${model.phone}</p>
            </div>
            <div class="card-body">
                <a class="card-link" href="">
                    <i class="fa fa-facebook"></i>
                </a>
                <a class="card-link" href="">
                    <i class="fa fa-google"></i>
                </a>
                <a class="card-link" href="">
                    <i class="fa fa-twitter"></i>
                </a>
                <a class="card-link" href="">
                    <i class="fa fa-linkedin"></i>
                </a>
                <a class="card-link" href="">
                    <i class="fa fa-instagram"></i>
                </a>
            </div>
            <div class="card-body">
                <a repeat.for="action of settings.actions" class="card-link" href="" title="${action.title}"><i class="${action.icon}"></i> ${action.title}</a>
            </div>
        </div>
    </div>
</template>
