@import '../../../_variables.less';
@import '../../../_mixins.less';

//
// nav-left container
//

nav-left {
    height: 100vh;
    left: 0;
    position: absolute;
    top: 0;
    z-index: 99999;

    &.collapse { }

    &.collapsing,
    &.show {
        box-shadow: 1px 0 10px 0 rgba(0, 0, 0, 0.1);
        position: absolute;
        width: @sizes-75;
    }
}

nav-left .navbar { }

nav-left .navbar-collapse {
    flex: 0 0 100%;
    width: 100%;
}

nav-left .navbar-toggler {
    align-self: left;
    border: 0;
    padding: @navbar-toggler-padding-x @navbar-toggler-padding-y;
}


@media (min-width: @screen-md-min) {
    nav-left {
        position: static;

        &.collapse {
            display: block;
            width: @nav-left-collapsed-width-md;
        }

        &.collapsing,
        &.show {
            width: @nav-left-shown-width-md;

            & .navbar {
                flex-direction: row;
                flex-wrap: wrap;
            }
        }

        & .navbar {
            flex-direction: column;
            & .navbar-toggler {
                display: block;
            }
        }

        & .navbar-expand-sm,
        & .navbar-expand-md,
        & .navbar-expand-lg {
            justify-content: space-between;
        }

        & .navbar-collapse {
            align-items: flex-start;
            flex-direction: column;
        }
    }
}

@media (min-width: @screen-lg-min) {
    nav-left {
        position: static;
        width: @nav-left-shown-width-lg;

        &.collapse {
            display: block;
            width: @nav-left-collapsed-width-lg;
        }

        &.collapsing,
        &.show {
            width: @nav-left-shown-width-lg;
        }

        & .navbar .navbar-toggler {
            display: none;
        }
    }

//     nav-left .navbar {
//         display: flex;
//         flex-direction: column;
//         padding: @nav-left-navbar-padding-x @nav-left-navbar-padding-y;
//
//         &.navbar-expand-sm .navbar-toggler {
//             display: block;
//         }
//     }
}

//
// nav-left .menu container
//

// nav-left .menu {
//   // padding-top: @padding-base-vertical * 4; @TODO
//   display: none;
//
//   @media (min-width: @screen-md-min) {
//     display: block;
//   }
//
//   li {
//     border-bottom: 1px solid @color-800;
//
//     &:first-child {
//       border-top: 1px solid @color-800;
//     }
//
//     &:hover {
//       overflow: visible;
//       position: relative;
//
//       @media (min-width: @screen-md-min) {
//         ul {
//           background: @color-900;
//           display: block;
//           left: 100%;
//           position: absolute;
//           top: 0;
//           width: 220px;
//
//           li a {
//             .nav-left--a;
//           }
//         }
//       }
//     }
//
//     & > a {
//       color: @color-200;
//       line-height: 36px;
//       // font-size: @font-size-lg; @TODO
//       text-align: center;
//
//       &:hover {
//         .nav-left--a-hover();
//       }
//
//       span {
//         display: none;
//       }
//     }
//
//     &.active {
//       & > a {
//         .nav-left--a-hover();
//       }
//     }
//
//     ul {
//       display: none;
//
//       li:last-child {
//         border-bottom: none;
//       }
//     }
//   }
// }
//
// nav-left.is-open .menu {
//   display: block;
//
//   a {
//     .nav-left--a;
//
//     span {
//       display: inline-block;
//     }
//   }
//
//   li {
//     &:hover {
//       @media (min-width: @screen-md-min) {
//         ul {
//           left: 0;
//           position: relative;
//           width: 100%;
//         }
//       }
//     }
//
//     &.active ul {
//       display: block;
//     }
//   }
// }
//
// .component {
//   &--left-profile {
//     .nav > li > a:hover, .nav > li > a:focus {
//       background-color: transparent;
//     }
//
//     .dropdown-menu {
//       .nav-top--style;
//
//       & > li > a {
//         .nav-top--item-style;
//       }
//
//       & > li.active > a, & > li > a:hover, & > li > a:focus {
//         .nav-top--item-style-active;
//       }
//     }
//   }
// }
