<template>
    <require from="./breadcrumb.less"></require>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li repeat.for="route of routes" class.bind="route.active ? 'breadcrumb__item--active active' : ''" class="breadcrumb-item breadcrumb__item">
                <a if.bind="!route.active" route-href="route.bind: route.name; params.bind: route.params" innerhtml.bind="route.title"></a>
                <span if.bind="route.active" innerhtml.bind="route.title"></span>
            </li>
        </ol>
    </nav>
</template>
