@import '../../../_variables.less';
@import '../../../_mixins.less';

nav-top {
    .navbar {
        flex-direction: column;

        & > div {
            flex: 0 0 100%;
            width: 100%;
        }

        &-brand {
            display: none;
        }

        &-toggler {
            align-self: left;
            border: 0;
            padding: @navbar-toggler-padding-x @navbar-toggler-padding-y;
        }

        &-collapse {
            // do not mess with display attribute here
        }
    }
    // .component {
    //   &--top-profile, &--top-inbox {
    //     float: right;
    //   }
    //
    //   &--top-inbox {
    //     .dropdown-menu {
    //       width: 260px;
    //
    //       &  > li > a {
    //         font-size: @font-size-sm;
    //         white-space: normal;
    //       }
    //     }
    //   }
    // }
}
