<template>
    <require from="./nav.less"></require>

    <ul class.bind="style" uk-nav>
        <li repeat.for="route of filteredRoutes" class.bind="classForLi(route)">
            <!-- @TODO: Should use route-href in stead of router.navigate() -->
            <a if.bind="!route.isDivider" click.trigger="router.navigateToRoute(route.name, route.params || {})" href="#!">
                <span class.bind="classForA(route)">${route.title}</span>
            </a>

            <!-- dropdown nav for <navbar>, with single column -->
            <div if.bind="route.subroutes && settings.isPartOfNavbar && !hasMultipleColumns(route.subroutes)" class="uk-navbar-dropdown">
                <ul class="uk-nav uk-navbar-dropdown-nav">
                    <li repeat.for="route2 of findSubroutes(route.subroutes)" class.bind="classForLi(route2)">
                        <a if.bind="!route2.isDivider" click.trigger="router.navigateToRoute(route2.name, route2.params || {})" href="#!">
                            <span class.bind="classForA(route)">${route2.title}</span>
                        </a>
                    </li>
                </ul>
            </div>

            <!-- dropdown nav for <navbar>, with multiple columns (2 or 3) -->
            <div if.bind="route.subroutes && settings.isPartOfNavbar && hasMultipleColumns(route.subroutes)" class="uk-navbar-dropdown uk-navbar-dropdown-width-${route.subroutes.length}">
                <div if.bind="hasMultipleColumns(route.subroutes)" class="uk-navbar-dropdown-grid uk-child-width-1-${route.subroutes.length}" uk-grid>
                    <div repeat.for="subroutesList of route.subroutes">
                        ${subroutesList.join(', ')}
                        <li repeat.for="route2 of findSubroutes(subroutesList)" class.bind="classForLi(route2)">
                            <a if.bind="!route2.isDivider" click.trigger="router.navigateToRoute(route2.name, route2.params || {})" href="#!">
                                <span class.bind="classForA(route)">${route2.title}</span>
                            </a>
                        </li>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</template>
