<template>
    <require from="../../demo.less"></require>

    <div class="uk-container">
    </div>

    <div class="uk-container">

        <p class="uk-text-lead">Easily implement listings within project.</p>

        <h2 id="usage" class="uk-h3">
            <a href="#usage">Usage</a>
        </h2>

        <p>Implements functionality for both <code>card (grid)</code> and <code>table</code> components.</p>

        <pre><code class="html">&lt;compose containerless view-model="components/helper/listing" model.bind="{ models: [ ... ] settings: { ... } }"&gt;&lt;/compose&gt;</code></pre>

        <h3>As Card List/Grid</h3>

        <ul uk-tab class="uk-tab">
            <li aria-expanded="false" class="uk-active">
                <a href="#">Preview</a>
            </li>
            <li aria-expanded="true" class="">
                <a href="#">Markup</a>
            </li>
        </ul>

        <ul class="uk-switcher uk-margin">
            <li>
            </li>
            <li>
                <pre><code class="html">&lt;compose containerless view-model="components/helper/listing" model.bind="{ settings: { ... }, models: [ ... ] }"&gt;&lt;/compose&gt;</code></pre>
            </li>
        </ul>

        <h3>As Table</h3>

        <ul uk-tab class="uk-tab">
            <li aria-expanded="false" class="uk-active">
                <a href="#">Preview</a>
            </li>
            <li aria-expanded="true" class="">
                <a href="#">Markup</a>
            </li>
        </ul>

        <ul class="uk-switcher uk-margin">
            <li>
            </li>
            <li>
                <pre><code class="html">&lt;compose containerless view-model="components/helper/listing" model.bind="{ settings: { { ... view: CHListing.VIEW_MODEL_TABLE } }, models: [ ... ] }"&gt;&lt;/compose&gt;</code></pre>
            </li>
        </ul>

        <h2 id="settings" class="uk-h3">
            <a href="#settings">Component Bindables</a>
        </h2>

        <compose containerless view="components/helper/table-dcb.html" view-model="components/helper/table" model.bind="cb"></compose>
    </div>

</template>
